header {
    background: white;
    color: green;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: underline;
    color: blueviolet;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-size: 17px;
}

th,
td {
    border: 2px solid black;
    padding: 5px;
}

th {
    background-color: pink;
    color: black;
}

td {
    background-color: ivory;
    color: black;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display:block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 120px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background: whitesmoke;
    color: black;
    margin-top: 20px;
}